
h1 {
    
        padding: 50%;
     text-align: center;
      
 }

 body {
    background-color: rgb(250, 179, 244);
   }
   h1 a {
    color: rgb(255, 255, 255);
    padding: 50%;
 text-align: center;
 text-decoration: none;
  
}